<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Me</h5>
        <p class="grey-text text-lighten-4">{{site.description}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></li>
          <li><a class="grey-text text-lighten-3" href="/archive.html">Archives</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; {{ site.time | date: "%Y" }} <a class="grey-text text-lighten-3" href="https://plus.google.com/u/0/109012109664932889712?rel=author" itemprop="author">Roman Dmytrenko</a>
    </div>
  </div>
</footer>


{% if site.serving != true %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.ga_id }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
