
<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- $image := $.Page.Resources.Get (.Get "src") -}}
    {{- $large := $image -}}
    {{- if ne $image.MediaType.SubType "svg" -}}
      {{- $large = $image.Resize "1536x webp q85" -}}
      {{- $image = $image.Resize "768x webp q95" -}}
    {{- end -}}

    <img src="{{ $image.RelPermalink }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
        {{- if ne $image.MediaType.SubType "svg" -}}
          srcset="{{ $image.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x"
          width="{{ $image.Width }}"
          height="{{ $image.Height }}"
        {{- end -}}
    /><!-- Closing img tag -->
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <em>{{ . }}</em>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
